<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Containers Map</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style>
        #container-form{
            background-color: #F5F5F5;
            padding: 15px;
        }
        .navbar-default {
            background-color: #2d3436;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-left" href="/"><img src="./images/EnvIOlogo.png" alt="envio-logo"></a>
        </div>
    </div>
</nav>

<!--Body starts here-->
<div class="container-fluid">
    <div id="map_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div id="drop-marker-map">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="drop-marker-button" type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div id="container-form" class="col-md-4">
            <form action="/add" method="post" class="form-horizontal">
                <fieldset>
                    <legend>Sensör Ekleme</legend>
                    <div class="form-group">
                        <div class="col-md-5">
                            <input type="text" name="lat" class="form-control lat"  placeholder="Enlem" required>
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="lng" class="form-control lng"  placeholder="Boylam" required>
                        </div>
                        <div class="col-md-2">
                            <a data-toggle="modal" data-target="#map_modal" style="font-size:25px;" required>
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="id" placeholder="Sensör ID" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="number" max="200" class="form-control" name="height" value="100" placeholder="Yükseklik">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4 col-md-offset-8">
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <% if (locals.dbError) { %>
            <ul>
                <li class="text-danger"><%= locals.dbError %></li>
            </ul>
            <% } %>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/Add.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzQEfK8YLEiQzXdLrVg0q4NY9PTUitMs4&callback=initMap">
</script>
</body>
</html>