<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Containers Map</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style>
        .add-button{
            position: absolute;
            left: 96%;
            top: 15%;
            z-index: 1;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
        }
        .show-route{
            position: absolute;
            left: 96%;
            top: 24%;
            z-index: 1;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-left" href="/"><img src="./images/EnvIOlogo.png" alt="envio-logo"></a>
        </div>
        <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a href="#">Home</a></li>-->
        <!--<li><a href="#">Stats</a></li>-->
        <!--<li><a href="#">Page 2</a></li>-->
        <!--</ul>-->
    </div>
</nav>
<button class="btn btn-lg btn-success add-button" onclick="location.href=('/add')" title="add">
    <span class="glyphicon glyphicon-plus"></span>
</button>
<button class="btn btn-lg btn-info show-route" id="" title="show route">
    <span class="glyphicon glyphicon-road"></span>
</button>
<!--Body starts here-->
<div id="map_canvas">

</div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="./socket.io/socket.io.js"></script>
<script src="js/scripts.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzQEfK8YLEiQzXdLrVg0q4NY9PTUitMs4&callback=initMap">
</script>
</body>
</html>