html, body, #map_canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#drop-marker-map {
  width: 570px;
  height: 500px;
  margin: 0;
  padding: 0;
}


#map_canvas {
  top: -22px;
  position: relative;
}

/*.navbar-default .navbar-nav > .active > a,*/
/*.navbar-default .navbar-nav > .active > a:focus,*/
/*.navbar-default .navbar-nav > .active > a:hover {*/
/*background: #ffffff;*/
/*border-bottom: 2px solid #3d8b40;*/
/*}*/

.navbar-left{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}